apiVersion: v1
kind: Secret
metadata:
  name: guardrailx-db-secret
type: Opaque
stringData:
  database_url: "postgresql+asyncpg://guardrailx:guardrailx@guardrailx-db:5432/guardrailx"
  mlflow_database_url: "postgresql://guardrailx:guardrailx@guardrailx-db:5432/guardrailx"
